* {
    margin: 0;
}

.big-box {
    position: absolute;
    text-align: center;

    width: calc(100% - 20px);
    height: calc(100% - 20px);
    top: 10px;
    left: 10px;
    
    background-color: #D4CEAF;
    
    border-radius: 20px;
}

.mini-box {
    position: relative;
    width: 50%;
    right: calc(-50% + 10px);
    top: 10px;
    height: calc(100% - 20px);

    background-color: #D9D9D9;

    font-size: 30px;

    border-radius: 10px;
}

.images {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px 10px;
    gap: 10px;

    position: absolute;
    width: 270px;
    height: calc(100% - 20px); /* Просто 100% не сработало */
    justify-items: left;
}

img {
    width: 270px;
    height: 270px;

    background-color: #FFFDEE;

    border-radius: 10px;
}